<div class="w-full flex flex-col items-center justify-center">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @category %>
    <label class="font-bold text-xl my-2">Tasks in this Category</label>
  <% if @category.task_count == 0 %>
    <label class="my-2 text-slate-500 text-3xl">No Task Added in this Category</label>
  <% end %>
    
  <div class="w-full my-5 flex justify-center items-center flex-wrap">
      <% @tasks.each do |task| %>
        <li class="w-1/3 flex flex-col items-center justify-center ">
          <%= link_to task.task_name + ' (' + task.deadline.to_s+')', task, class: "underline py-3 px-5 font-medium" %>
        </li>
      <% end %>
  </div>

      <%= link_to "Add New task", new_task_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium mb-4" %>

    <div class="flex justify-between ml-2 mt-4">
    <%= link_to "Edit this category", edit_category_path(@category), class: "rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    <%= button_to "Destroy this category", category_path(@category), method: :delete, class: "rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    <%= link_to "Back to categories", root_path, class: "rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>

</div>
